/* custom font made with fontello, for navigation icons */
@font-face {
  font-family: 'drammock';
  src: url('../fonts/drammock.eot?91792506');
  src: url('../fonts/drammock.eot?91792506#iefix') format('embedded-opentype'),
       url('../fonts/drammock.woff2?91792506') format('woff2'),
       url('../fonts/drammock.woff?91792506') format('woff'),
       url('../fonts/drammock.ttf?91792506') format('truetype'),
       url('../fonts/drammock.svg?91792506#drammock') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* class definitions */
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "drammock"; }

.icon-orcid:before { content: '\00A0\e803'; } /* '' */
.icon-gpg:before { content: '\00A0\e808'; }   /* '' */
.icon-li:before { content: '\00A0\e809'; }    /* '' */
.icon-gh:before { content: '\00A0\e80a'; }    /* '' */
.icon-pl:before { content: '\00A0\e80b'; }    /* '' */
.icon-brain:before { content: '\00A0\e80c'; } /* '' */
.icon-ncbi:before { content: '\00A0\e80d'; }  /* '' */
.icon-doc:before { content: '\00A0\e80e'; }   /* '' */
.icon-env:before { content: '\00A0\e80f'; }   /* '' */
.icon-sch:before { content: '\00A0\e802'; } /* '' */
.icon-so:before { content: '\00A0\e812'; } /* '' */
.icon-zot:before { content: '\00A0\e816'; } /* '' */
.icon-oa:before { content: '\00A0\e81a'; } /* '' */
.icon-impactstory:before { content: '\00A0\e810'; } /* '' */
.icon-depsy:before { content: '\00A0\e810'; } /* '' */
