html {
	margin: 0;
	padding: 0;
	background-color:#16002c;
	background-repeat: repeat;
	background-image: url(../images/morris_thistleViolet1.png);
	text-align:center;
	font-size: 18px;
}
body {
	margin: 0 auto;
	padding: 0.4rem 1rem;
	width: 90%;
	max-width: 30cm;
	background-color: #fff;
	color: #5C5C66;
}
/* LINK STYLING */
a, a:visited { color: #499166; text-decoration: none; }
a:hover, a:active { color: #ed7700; text-decoration: none; }
.navitem a, .navitem a:visited { color: #FF7F00; }
.navitem a:hover, .navitem a:active { color: #46008C; }
.content a:hover, .content a:active { text-decoration: underline; }
/* HORIZONTAL RULES */
hr { color:#CEDED3; height:1px; margin-top:0.7em; margin-bottom:0.3em; }
/* OUTLINE ELEMENTS */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0.2rem 0; color: #46008C; }
h1, h2, h3, h4 { font: normal 1.5rem "libertine-semi"; }
h5, h6 { font: bold 1rem "libertine"; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
/* HEADER */
.header { 
	height: 3rem;
	text-align: right;
	border-bottom: #CEDED3 solid thin;
}
.nav { text-align: left; }
.navitem, .navitem a {
	display: inline-block;
	margin-right: 1.5rem;
	padding: 0; 
	font: normal 1.5rem/2.75rem "mplus-medium";
	text-transform: uppercase;
	color: #FF7F00;
}
.sitetitle {
	display: inline-block;
	padding: 0; 
	font: normal 3rem/2.75rem "libertine-display";
	text-transform: uppercase; 
	color: #46008C; 
}
.sitetitle .superscript { 
	vertical-align: 0.15em;
	font: small-caps normal 3rem/2.75rem "libertine-display";
	text-transform: lowercase; 
}
/* here we deal with the fact that (for accessibility reasons) the    */
/* sitetitle comes before the nav, but we want this layout (with      */
/* vertical alignment at baseline):                                   */
/*                                                                    */
/* nav1 nav2 nav3 (left aligned)            sitetitle (right aligned) */
/*                                                                    */
/* we achieve this by setting a height for the .nav and a line-height */
/* for .nav and .sitetitle that is the same value. A similar value    */
/* is used in translateY() to shift the nav up to the previous line.  */
.sitetitle, .navitem { line-height: 2.75rem; }
.nav { height: 2.75rem; transform: translateY(-2.35rem); }
/* MAIN CONTENT */
.pagetitle {
	margin-bottom: 1rem;
	padding: 0.25rem 0;
	text-align: left;
	font: normal 2.25rem "libertine-display";
	color: #46008C;
	border-bottom: #CEDED3 solid thin;
}
.content { 
	float: left;
	width: 65%;
	padding: 0 0 0.5rem; 
	text-align: left; 
}
.content p { line-height: 1.5rem; margin: 0 0 0.4rem; }
.content ul {
	margin: 0;
	margin-left: 1rem;
	padding: 0;
	line-height: 1.2rem;
	list-style:square;
	color: inherit;
}
.content ul li { margin-bottom: 0.4rem; } 
/* SIDEBAR */
.sidebar {
	float: right;
	width: 250px;
	margin-bottom: 1.5rem;
	text-align: right;
	font: normal 0.9rem "mplus-light";
}
.sidebar img { width: 80%; }
.sidebar ul { list-style: none; line-height: 1.5rem; }
.sidebar ul.fa-ul li a span { color: #DCDCE6; }
.sidebar ul.fa-ul li a:hover span { color: #46008C; }
/* FOOTER */
.footer { 
	border-top: #A2B3A8 solid thin; 
	padding: 0.75rem 0;
	text-align: left; 
	clear: both;
}
.footer h1 { 
	display: inline; 
	text-transform: uppercase;
	color: #FF7F00;
}
.footer, .footer h1 { font: normal 0.9rem "mplus-light"; color: #46008C; }
.footer ul { display: inline; margin: 0; padding: 0; }
.footer ul li { display: inline; margin-left: 0.5rem; }
.footer ul.fa-ul li a span { color: #DCDCE6; }
.footer ul.fa-ul li a:hover span { color: #46008C; }
.footer  [class^="icon-"]:after, .footer [class*=" icon-"]:after { 
	content: '\00A0';
}
/* BLOG POSTS */
ul.posts { list-style-type: none; margin-bottom: 2rem; }
ul.posts li { line-height: 1.75rem; }
ul.posts span { font: normal 0.8rem "mplus-heavy"; color: #aaa; }
#prev, #next { font: normal 0.7rem "mplus-heavy"; margin-top: 0.5rem;}
#prev { float:left; }
#next { float:right; }
/* CODE BLOCKS */
pre {
	border: 1px solid #CEDED3;
	background-color: #E6EEE9;
	padding: 0 0.4rem;
	margin-bottom: 1rem;
}
code {
	border: 1px solid #CEDED3;
	background-color: #E6EEE9;
	padding: 0 0.2rem;
	font: normal 0.8rem "mplus-mono";
}
pre code { border: none; }
/* PHONE-FRIENDLY */
@media (orientation: portrait) {
	html { background-image: none; font-size: 16px; }
	html, body { width: 96%; min-width: 96%; max-width: 96%; }
	body { margin: 0 2%; }
	.sitetitle, .sitetitle .superscript { font-size: 2rem; }
	.content { width: 100%; }
	.sidebar { display: none; }
	.header { height: 5.75rem; text-align: left; }
 	.nav { transform: none; }
	.navitem { display: inline; }
	.navitem a { font-size: 1.25rem; }
	.footer { text-align: center; }
	.pagetitle { border: none; margin: 0; }
}
