---
layout: page
title: "What’s new"
---
<div id="home">
  <ul class="posts">
	{% for post in site.posts offset: 0 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% if post.content contains "<more />" %}
        {{ post.content | split:"<more />" | first }}
        <strong><a href="{{ post.url }}">Read more...</a></strong>
      {% else %}
        {{ post.excerpt | remove: '</p>' }}<strong><a href="{{ post.url }}">Read more...</a></strong></p>
      {% endif %}
	  <hr noshade size=1px />
	{% endfor %}
  </ul>
</div>
