<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-awesome-mod.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-drammock.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-libertine.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-charis.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/font-mplus.css">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"> -->

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/public/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/public/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/public/safari-pinned-tab.svg" color="#009900">
  <meta name="theme-color" content="#ffffff">
  <!--
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  -->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
