<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
        <!-- Fonts -->
		<link rel="stylesheet" href="/css/font-awesome-mod.css">
		<link rel="stylesheet" href="/css/font-drammock.css">
		<link rel="stylesheet" href="/css/font-libertine.css">
		<link rel="stylesheet" href="/css/font-charis.css">
		<link rel="stylesheet" href="/css/font-mplus.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Analytics -->
		<script type="text/javascript" src="/scripts/analytics.js"></script>
    </head>
    <body>
		<div class="header">{% include header.html %}</div>
		<div class="pagetitle">{{ page.title }}</div>
		<div class="content">{{ content }}</div>
		<div class="sidebar">{% include sidebar.html %}</div>
		<div class="footer">{% include footer.html %}</div>
	</body>
</html>
